.containerpara1{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
    background-color: #dfdedb; 
    padding: 80px;
}
.naveen{
   margin: 30px;
   border-radius: 2rem;
   padding: 10px;
   width: 160px;
   background-color: rgb(113, 114, 113);
}
.naveen1{
    margin: 30px;
    border-radius: 2rem;
    padding: 10px ;
    width: 180px;
   background-color: rgb(70, 197, 70);
 }
 .naveen:hover{
    background-color: rgb(92, 76, 76);
 }
 .naveen1:hover{
    background-color: rgb(55, 145, 85);
 }
 

 



