body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.navbar {
    position: sticky;
    /* top: 1px; */
    width: 100%;
    /* background: linear-gradient(90deg, #ff7e5f, #feb47b); */
    color: rgb(39, 37, 37);
    padding: 1rem 0;
    transition: background 0.3s;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* animation: gradientAnimation 10s ease infinite; */
}
/* 
@keyframes gradientAnimation {
    0% { background: linear-gradient(90deg, #ff7e5f, #feb47b); }
    25% { background: linear-gradient(90deg, #ff7e5f, #ff9a9e); }
    50% { background: linear-gradient(90deg, #ff7e5f, #fad0c4); }
    75% { background: linear-gradient(90deg, #ff7e5f, #fbc2eb); }
    100% { background: linear-gradient(90deg, #ff7e5f, #feb47b); }
} */

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1.5rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s;
    position: relative;
}

.nav-item a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #FFD700;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover::before {
    visibility: visible;
    width: 100%;
}

.section {
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #333;
}

/* #home { background-color: #ff9a9e; } */
#home {background-image: url(https://images.livspace-cdn.com/plain/https://d3gq2merok8n5r.cloudfront.net/img/landingpages/full-home-interiors/Edge_New/new-folder-1657193933-8Jkh5/1440x730-1657194139-erPsT.jpg );background-size:cover;}

/* #services { background-color: #fbc2eb; } */
/* #contact { background-color: #a18cd1; } */

.free{
    
 position:relative;
   margin-left: -11rem;
   margin-top: 1rem;
   border-radius: 2rem;
   background-color:#f44336 ;
   
}
.free:hover {
    background-color: #e78217;
  }

#services{
    margin-top: 50px;
}

#contact{
    margin-top: 80px;
}
#partner{
    margin-top: 80px;
}