

.containerPara {
 display: flex;
   justify-content: center;
   align-items: center;
  flex-direction: column;
  /* text-align: center; */
  padding: 50px;
  
  
  /* width:98vw; */
  /* margin-top: 5rem; */
  background-color: #dfdedb; 

  
}

.containerPara h1 {
  font-size: 35px;
  /* margin-bottom: 10px; */
  font-family: gilroy, sans-serif;
}

.containerPara p {
  font-size: 16px;
  /* margin-bottom: 20px; */
}

.button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #e78217;
}
