.partners-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    flex-direction: column;
  }
  
  .marquee {
    width: 100%; /* Ensure full width for marquee */
     /* Hide overflow to create marquee effect */
    position: relative;
  }
  .marquee img {
    height: 150px;
    margin: 50px;
    
  }
  
  .marquee-image {
    position: absolute;
    right: 100%; 
    animation: marqueeAnimation 1s linear infinite; 
  }
  
  @keyframes marqueeAnimation {
    0% {
      right: 100%; 
    }
    100% {
      right: -100%; 
    }
  }
  
  .name {
    display: flex; 
    flex-direction: column;
    /* Adjust margin between image and text */
    justify-content: center;
    align-items: center;
    
  }
  
  /* Additional styles for h1 and h2 if needed */
  